
@{
 
    Layout = "~/Views/Shared/_LayoutHF.cshtml";
}

@section Title{
    
    @RenderSection("Title",false)
    
    }

@section UyeveyaGiris{
    <div style="margin-top:10px; margin-right:5px; width:100px; height:20px; font:8px; float:right;">
    <a style="color:white;" href="/SignUp/SignUp">UyeOl</a>&nbsp;&nbsp;<a style="color:white;" href="/Login/Login">GirisYap</a>
    
</div>
    
    }
            
            
        @RenderSection("leftside", false)
        @RenderSection("rightside", false)
        <div style="width:1000px; height:750px; background: none repeat scroll 0% 0% rgb(227, 227, 227);padding-left:100px;padding-top:20px">
    @RenderSection("SayfaIcerik", false)
            </div>






