
@{
 
    Layout = "~/Views/Shared/_LayoutHF.cshtml";
}
@section Title{
        Dönüşüm marketi
    }
@section UyeveyaGiris{
    <div style="margin-top:10px; margin-right:5px; width:100px; height:20px; font:8px; float:right;">
        <a style="color:white;" href="/SignUp/SignUp">UyeOl</a>&nbsp;&nbsp;<a style="color:white;" href="/Login/Login">GirisYap</a>

    </div>

}

<div id="our_product" style="width:950px;margin-left:25px;">
    <h2>Ürünler</h2>

    <div class="product_container">
        <div class="images">
            <img src="~/Content/images/market/a4kagit.jpg" />
        </div>
        <h3>1 top A4</h3>
        <ul>
            <li>içerisinde 500 adet a4 beyaz kağıt bulunmakta</li>
            <li><small>Tutar:  100 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
    <div class="product_container">
        <div class="images">
            <img src="~/Content/images/market/1ltYudumYag.png" />

        </div>
        <h3>Zeytinyağı</h3>
        <ul>
            <li>Yudum Riviera Zeytinyagı 1 lt plastik şişe.</li>
            <li><small>Tutar:  210 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
    <div class="product_container">
        <div class="images">
            <img src="~/Content/images/market/A4teksir.jpeg" />
 
        </div>
        <h3>Teksir Kağıdı A4</h3>
        <ul>
            <li>Teksir Kağıdı A4 250'LI 50 GR.Geri dönüşümden kazanılmış kağıt.</li>
            <li><small>Tutar:  100 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
    <div class="product_container">
        <div class="images">
            <img src="~/Content/images/market/CopKutusuKagit.png" />
            
        </div>
        <h3>Kağıt dönüşüm kovası</h3>
        <ul>
            <li>Paslanmaz geri dönüşüm kovası 27 litre logolu. </li>
            <li><small>Tutar:  100 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
    <div class="product_container">
        <div class="images">
            <img src="~/Content/images/market/CopKutusuMetal.png" />
        </div>
        <h3>Metal Dönüşüm Kovası</h3>
        <ul>
            <li>Paslanmaz geri dönüşüm kovası 27 litre logolu.</li>
            <li><small>Tutar:  100 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
    <div class="product_container">
        <div class="images">
            <img src="~/Content/images/market/CopKutusuPlastik.png" />
        </div>
        <h3>Plastik Dönüşüm Kovası</h3>
        <ul>
            <li>Paslanmaz geri dönüşüm kovası 27 litre logolu.</li>
            <li><small> Tutar:  100 kp</small></li>
            
        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
       
    </div>
    <div class="product_container">
        <div class="images">
            <img src="/Content/images/cam.png" />
        </div>
        <h3>1 top A4</h3>
        <ul>
            <li>içerisinde 500 adet a4 beyaz kağıt bulunmakta</li>
            <li><small>Tutar:  100 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
    <div class="product_container">
        <div class="images">
            <img src="/Content/images/cam.png" />
        </div>
        <h3>1 top A4</h3>
        <ul>
            <li>içerisinde 500 adet A4 beyaz kağıt bulunmakta</li>
            <li><small>Tutar:  100 kp</small></li>

        </ul>
        <input id="add_box" type="button" value="Sepete Ekle" />
    </div>
</div>
