
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

@section SayfaIcerik{

    <h1 style="padding-left:-50px">HAKIMIZDA</h1><br />
    <p align="left">
        Bu web stesi 2016 yılında Burak ARSLAN, Mehmet ERTEKİN ve Taner ŞİMŞEK tarafından kurulmuştur.<br />
        Sitenin amacı geri dönüşümü bilinçlendirmek ve geri dönüşümde kullanıbilecek malzemelerin doğaya gidip<br /> doğanın yapısını bozmasını engelleyerek
        malzemelerin yerlerine ulaştırılmasını sağlamaktır.
    </p>

}
@section Title{
    Hakkımızda
}



