
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

@section Hakkinda{
    <div style="width:1000px; height:750px; background: none repeat scroll 0% 0% rgb(227, 227, 227); text-align:left;">
        <div style="padding-left:100px;padding-top:20px">
            <h1>HAKIMIZDA</h1><br />
            <p>
                Bu web stesi 2016 yılında Burak ARSLAN, Mehmet ERTEKİN ve Taner ŞİMŞEK tarafından kurulmuştur.<br />
                Sitenin amacı geri dönüşümü bilinçlendirmek ve geri dönüşümde kullanıbilecek malzemelerin doğaya gidip<br /> doğanın yapısını bozmasını engelleyerek
                malzemelerin yerlerine ulaştırılmasını sağlamaktır.
            </p>
        </div>
</div>
    }
@section Title{
        Hakkımızda
    }



