
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

@section Title{
    Doğayı koru
}


@section leftside{
    <div id="left_side">
    <div id="catagories">
        <h2>Kategoriler</h2>
        <ul>
            <li><a href="#">Kağıt</a></li>
            <li><a href="#">Metal</a></li>
            <li><a href="#">Plastik</a></li>
            <li><a href="#">Cam</a></li>
            <li><a href="#">Pil</a></li>
            <li><a href="#">Yağ</a></li>

        </ul>
    </div><!--end catagories-->

    <div id="payment_area">

        <h2>Ana Sponsorlar</h2>
        <a class="links" href="#"><img src="/Content/images/payoneer.jpg"></a>
        <a class="links" href="#"><img src="/Content/images/skrill.jpg"></a>
        <a class="links" href="#"><img src="/Content/images/mastercard.jpg"></a>
        <a class="links" href="#"><img src="/Content/images/americanexpress.jpg"></a>
    </div><!--end payments area-->

    <div id="Shipping">
        <h2>Kargo İmkanları</h2>
        <a class="links" href="#"><img src="/Content/images/ups.jpg"></a>
        <a class="links" href="#"><img src="/Content/images/fedex.jpg"></a>
        <a class="links" href="#"><img src="/Content/images/dhl.jpg"></a>
        <a class="links" href="#"><img src="/Content/images/americanexpress.jpg"></a>
    </div><!--end shipping area-->
    <div id="contact">
        <h2>Duyurular</h2>
        <p><b>
    --................2014<br />
    --................2013<br />
    --................2012<br />
    --................2011<br />
    --Site yöneticileri şu an aktiftir.<br />
    --İletişim sayfasından bizimle iletişime geçebilirsiniz.<br />
    --Dönüşüm marketimiz açılmıştır. <br />
    --Yağ atıkları tükenmiştir.<br />
    --Pil atık kategorisine yeni ilan eklendi.<br />
    --Yeni ilan eklendi.<br />
    --Site kullanıma açılmıştır.<br />
</b>
        </p>
    </div><!--end contact area-->
</div><!--end left_side area-->

    }
@section rightside{
    <div id="right_side">

    <div id="product_and_details">
        <div id="product">
            <table>
                <tr>
                    <td><img src="/Content/images/family_guy.png" /></td>
                    <td>
                        <h2 style="color: green;font-family: helvetica;">
                            Dönüşümde Amaç
                        </h2>
                        <p align="left" style="font-size:15px ;font-family: helvetica;" ">
                            Geri dönüşümde amac; kaynakların luzumsuz kullanılmasını önlemek ve atıkların kaynağında ayrıştırılması ile birlikte atık çöp miktarının azaltılması olarak düşünülmelidir. Demir, çelik, bakır, kurşun, kağıt, plastik, kauçuk, cam, elektronik atıklar gibi maddelerin geri dönüşüm ve tekrar kullanılması, tabii kaynakların tükenmesini önleyecektir. Bu durum; ülkelerin ihtiyaçlarını karşılayabilmek için ithal edilen hurda malzemeye ödenen döviz miktarını da azaltacak, kullanılan enerjiden büyük ölçüde tasarruf sağlayacaktır. Örneğin kullanılmış kağıdın tekrar kağıt imalatında kullanılması hava kirliliğini %74-94, su kirliliğini %35, su kullanımını %45 azaltığı ve bir ton atık kağıdın kağıt hamuruna katılmasıyla 8 ağacın kesilmesi önlenebilmektedir.
                        </p>
                    </td>
                </tr>
            </table>



        </div>



    </div><!-- end of product and details area-->
    <!--start other product area-->


    <div id="our_product">
        <h2>Son İlanlar</h2>

        <div class="product_container">
            <div class="images">
                <img src="/Content/images/cam.png" />
                </div>
                <h3>Cam Atık</h3>
                <ul>
                    <li>İlan Sahibi:....</li>
                    <li>İlan Numarası:....</li>
                    <li>İlan Tarihi:......</li>
                    <li>İlan Kategorisi:...</li>
                    <li>Miktar:............</li>
                    <li>Adres:...</li>

                </ul>


            </div>


        <div class="product_container">
            <div class="images">
                <img src="/Content/images/pil.png" />
            </div>
            <h3>Pil Atık</h3>
            <ul>
                <li>İlan Sahibi:....</li>
                <li>İlan Numarası:....</li>
                <li>İlan Tarihi:......</li>
                <li>İlan Kategorisi:...</li>
                <li>Miktar:............</li>
                <li>Adres:...</li>

            </ul>
        </div>
        <div class="product_container">
            <div class="images">
                <img src="/Content/images/plastik.png" />
            </div>
            <h3>Plastik Atık</h3>
            <ul>
                <li>İlan Sahibi:....</li>
                <li>İlan Numarası:....</li>
                <li>İlan Tarihi:......</li>
                <li>İlan Kategorisi:...</li>
                <li>Miktar:............</li>
                <li>Adres:...</li>

            </ul>

        </div>

        <div class="product_container">
            <div class="images">
                <img src="/Content/images/metal.png" />
            </div>
            <h3>Metal Atık</h3>
            <ul>
                <li>İlan Sahibi:....</li>
                <li>İlan Numarası:....</li>
                <li>İlan Tarihi:......</li>
                <li>İlan Kategorisi:...</li>
                <li>Miktar:............</li>
                <li>Adres:...</li>

            </ul>

        </div>
        <div class="product_container">
            <div class="images">
                <img src="/Content/images/oil.png" />
            </div>
            <h3>Yağ Atık</h3>
            <ul>
                <li>İlan Sahibi:....</li>
                <li>İlan Numarası:....</li>
                <li>İlan Tarihi:......</li>
                <li>İlan Kategorisi:...</li>
                <li>Miktar:............</li>
                <li>Adres:...</li>

            </ul>

        </div>

        <div class="product_container">
            <div class="images">
                <img src="/Content/images/pil.png" />
            </div>
            <h3>Pil Atık</h3>
            <ul>
                <li>İlan Sahibi:....</li>
                <li>İlan Numarası:....</li>
                <li>İlan Tarihi:......</li>
                <li>İlan Kategorisi:...</li>
                <li>Miktar:............</li>
                <li>Adres:...</li>

            </ul>
        </div>


    </div><!--end of our product area-->
    
    <div id="additional_area"> </div>

</div><!--end of right area-->

    }